@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    border-radius: 0.5vh;
}
  
body {
    margin: 0;
    background: #283B42;
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;  
    font-size: 2.5em;
    color: #283B42;
}
  
form {
    margin: 3% auto;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 2vh;
    background: #D1DDDB;
    box-shadow: 0px 10px 12px 3px rgba(0,0,0,0.1);
}
  
form input, form label, form button {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #283B42;
}
  
form input {
    padding: 0.5rem;
    font-size: 1.3rem;
    border: none;
}
  
form input:focus {
    outline: 2px solid #283B42;
}
  
form button {
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    background: #283B42;
    color: #D1DDDB;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
  
form button:hover {
    background: #1a2529;
}

#result {
    text-align: center;
    font-size: 1rem;
}